<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VoteServer</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.vote.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonServerServlet</display-name>
    <servlet-name>CommonServerServlet</servlet-name>
    <servlet-class>com.vote.web.CommonServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonServerServlet</servlet-name>
    <url-pattern>/CommonServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServerServlet</display-name>
    <servlet-name>AddServerServlet</servlet-name>
    <servlet-class>com.vote.web.AddServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServerServlet</servlet-name>
    <url-pattern>/AddServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.vote.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RigesterServlet</display-name>
    <servlet-name>RigesterServlet</servlet-name>
    <servlet-class>com.vote.web.RigesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RigesterServlet</servlet-name>
    <url-pattern>/RigesterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.vote.web.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsRigesterServlet</display-name>
    <servlet-name>IsRigesterServlet</servlet-name>
    <servlet-class>com.vote.web.IsRigesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsRigesterServlet</servlet-name>
    <url-pattern>/IsRigesterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServerServlet</display-name>
    <servlet-name>ListServerServlet</servlet-name>
    <servlet-class>com.vote.web.ListServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServerServlet</servlet-name>
    <url-pattern>/ListServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.vote.web.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServerServlet</display-name>
    <servlet-name>DeleteServerServlet</servlet-name>
    <servlet-class>com.vote.web.DeleteServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServerServlet</servlet-name>
    <url-pattern>/DeleteServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServerServlet</display-name>
    <servlet-name>ChangeServerServlet</servlet-name>
    <servlet-class>com.vote.web.ChangeServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServerServlet</servlet-name>
    <url-pattern>/ChangeServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCleanersServlet</display-name>
    <servlet-name>ListCleanersServlet</servlet-name>
    <servlet-class>com.vote.web.ListCleanersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCleanersServlet</servlet-name>
    <url-pattern>/ListCleanersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrdersServlet</display-name>
    <servlet-name>GetOrdersServlet</servlet-name>
    <servlet-class>com.vote.web.GetOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrdersServlet</servlet-name>
    <url-pattern>/GetOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCleanerServlet</display-name>
    <servlet-name>DeleteCleanerServlet</servlet-name>
    <servlet-class>com.vote.web.DeleteCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCleanerServlet</servlet-name>
    <url-pattern>/DeleteCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServersByCleanerIdServlet</display-name>
    <servlet-name>GetServersByCleanerIdServlet</servlet-name>
    <servlet-class>com.vote.web.GetServersByCleanerIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServersByCleanerIdServlet</servlet-name>
    <url-pattern>/GetServersByCleanerIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServerServlet</display-name>
    <servlet-name>ShowServerServlet</servlet-name>
    <servlet-class>com.vote.web.ShowServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServerServlet</servlet-name>
    <url-pattern>/ShowServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.vote.web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCleanerServlet</display-name>
    <servlet-name>ShowCleanerServlet</servlet-name>
    <servlet-class>com.vote.web.ShowCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCleanerServlet</servlet-name>
    <url-pattern>/ShowCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodayTopServerServlet</display-name>
    <servlet-name>TodayTopServerServlet</servlet-name>
    <servlet-class>com.vote.web.TodayTopServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodayTopServerServlet</servlet-name>
    <url-pattern>/TodayTopServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeekTopCleanerServlet</display-name>
    <servlet-name>WeekTopCleanerServlet</servlet-name>
    <servlet-class>com.vote.web.WeekTopCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeekTopCleanerServlet</servlet-name>
    <url-pattern>/WeekTopCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCleanerServlet</display-name>
    <servlet-name>GetCleanerServlet</servlet-name>
    <servlet-class>com.vote.web.GetCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCleanerServlet</servlet-name>
    <url-pattern>/GetCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrdersServlet</display-name>
    <servlet-name>ListOrdersServlet</servlet-name>
    <servlet-class>com.vote.web.ListOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrdersServlet</servlet-name>
    <url-pattern>/ListOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.vote.web.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveHeadServlet</display-name>
    <servlet-name>SaveHeadServlet</servlet-name>
    <servlet-class>com.vote.web.SaveHeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveHeadServlet</servlet-name>
    <url-pattern>/SaveHeadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServersServlet</display-name>
    <servlet-name>ListServersServlet</servlet-name>
    <servlet-class>com.vote.web.ListServersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServersServlet</servlet-name>
    <url-pattern>/ListServersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.vote.web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.vote.web.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.vote.web.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCleanerServlet</display-name>
    <servlet-name>ChangeCleanerServlet</servlet-name>
    <servlet-class>com.vote.web.ChangeCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCleanerServlet</servlet-name>
    <url-pattern>/ChangeCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeOrderServlet</display-name>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <servlet-class>com.vote.web.ChangeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderServlet</servlet-name>
    <url-pattern>/ChangeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCleanerServlet</display-name>
    <servlet-name>AddCleanerServlet</servlet-name>
    <servlet-class>com.vote.web.AddCleanerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCleanerServlet</servlet-name>
    <url-pattern>/AddCleanerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommentServlet</display-name>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>com.vote.web.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <url-pattern>/UpdateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVoteServlet</display-name>
    <servlet-name>AddVoteServlet</servlet-name>
    <servlet-class>com.vote.web.AddVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVoteServlet</servlet-name>
    <url-pattern>/AddVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOptionServlet</display-name>
    <servlet-name>AddOptionServlet</servlet-name>
    <servlet-class>com.vote.web.AddOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOptionServlet</servlet-name>
    <url-pattern>/AddOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllVoteServlet</display-name>
    <servlet-name>GetAllVoteServlet</servlet-name>
    <servlet-class>com.vote.web.GetAllVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllVoteServlet</servlet-name>
    <url-pattern>/GetAllVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOptionByVidServlet</display-name>
    <servlet-name>GetOptionByVidServlet</servlet-name>
    <servlet-class>com.vote.web.GetOptionByVidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOptionByVidServlet</servlet-name>
    <url-pattern>/GetOptionByVidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoVoteServlet</display-name>
    <servlet-name>DoVoteServlet</servlet-name>
    <servlet-class>com.vote.web.DoVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoVoteServlet</servlet-name>
    <url-pattern>/DoVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyVoteServlet</display-name>
    <servlet-name>GetMyVoteServlet</servlet-name>
    <servlet-class>com.vote.web.GetMyVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyVoteServlet</servlet-name>
    <url-pattern>/GetMyVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLastVoteServlet</display-name>
    <servlet-name>GetLastVoteServlet</servlet-name>
    <servlet-class>com.vote.web.GetLastVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLastVoteServlet</servlet-name>
    <url-pattern>/GetLastVoteServlet</url-pattern>
  </servlet-mapping>
</web-app>